@font-face {
	font-family: 'FonteBonita';
	src: url("../fonts/Roboto-Light.ttf");
	font-family: 'FonteBonita2';
	src: url("../fonts/Aspergit.otf");
}

.fontUser{
	font-family: 'FonteBonita2', sans-serif;
}

#menu {
	font-family: 'FonteBonita2', sans-serif;
	height:80px;
	
}

#tam {
    font-family: 'FonteBonita2', sans-serif;
    text-align: center;
	top: 450px;
	color: #011D40;
	font-size: 60px;

	
}

.corNavBar {
	background-color: #363537;

}

.corBanner {
	background-color: #166568;
}

.corCinzaBack{
	background-color: #DEDAD7;

}

.buttonRed{
	background-color: #A12D24;

}

#forma {
	font-family: 'FonteBonita2', sans-serif;
    text-align: center;
	color: #011D40;
	font-size: 30px;
}

.foto-perfil {
height: 250px;
width: 250px;
border-radius: 50%;
}

#foto { 	
text-align: center;
font-family: 'FonteBonita', sans-serif;
height: 300px;
width: 300px;
}

#imgs {
	text-align: center;
	margin-top: -300px;
	height: 280px;
	width: 280px;
}
#rodape {
	height: 90px;
	text-align: center;
	background-color: #363537;
	font-size: 25px;
	font-family: 'FonteBonita2', sans-serif;
    margin-bottom: -52px;
    color: white;

}
#rodape p {
	padding-top: 20px;
}

#descricao{
	color: #006064;
	font-family: 'FonteBonita2', sans-serif;
}

#exp {
	height: 800px;
}

#formacao, #hobbie, #sobreMim{
	background: #166568;
	color: white;

}

h2{
	color: #006064; 
	font-family: 'FonteBonita2', sans-serif;
}

.fontWhite{
	color: white;
}

.fontLogo{
	font-size: 20px;

}
.sizeFont{
	font-size:xx-large;
}

